@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single+Ink:wght@100..900&family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

*,
*:before,
*:after{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
body{
    background: rgb(232, 232, 232);
    font-family:"Zalando Sans SemiExpanded", sans-serif;
    font-size: 15px;
}

h1,
h2,
h3{
    font-family:"Momo Trust Display",serif;
    font-weight: normal;
    padding: .2em 0;
}

p{
    margin: 1.8em 0;
    line-height: 1.8em;
}

h2{font-size: 1.25em;}

header,
nav,
main,
aside,
footer{
    padding:1.5em;
    border:1px black solid;
}

header,
footer{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background: rgb(72, 252, 255);
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns:
    1fr    2fr    1fr;
    grid-template-areas:
    "heady      heady       heady"
    "navvy      navvy       navvy"
    "aside1     mainy       aside2"
    "aside1     mainy       aside2"
    "aside1     mainy       aside2"
    "footy      footy       footy"
}

header{grid-area:heady;background:#5C29F0}
nav{grid-area:navvy;background:#D6D8F4}
main{grid-area:mainy;background:#9D29F0; max-height:100%;}
#aside1{grid-area:aside1;background:#29B4F0}
#aside2{grid-area:aside2;background:#29B4F0}
footer{grid-area:footy;background:#2936F0}

nav ul{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

nav ul li{
    list-style: none
}

@media screen and (min-width:641px) and (min-width:900px){
    .container{
        grid-template-columns:
        1fr 1fr;
        grid-template-areas:
        "heady heady"
        "navvy navvy"
        "mainy mainy"
        "aside1 aside2"
        "footy footy";
    }
}

@media screen and (max-width:640px){
    .container{
        grid-template-columns:
         1fr;
        grid-template-areas:
        "heady"
        "mainy"
        "aside1"
        "aside2"
        "navvy"
        "footy";
    }

nav ul{
    flex-flow:column nowrap;
    text-align: center;
}
nav ul li a{
    display:block;
    padding:10px 5px;
    margin: 5px;
    border: 1px black solid;
    background:white;
}
}